[Unit]
Description=Grass Exporter Service
After=network.target

[Service]
Type=simple
User=root

ExecStart=/root/miniconda3/bin/python /root/hyperliquid-exporter/grass_exporter.py
WorkingDirectory=/root/hyperliquid-exporter
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target