# Ignore .env file
.env

# Ignore hl-python-venv directory
hl-python-venv/


validator_alert.log
hl_exporter.log
telegram_alert.log
validator_alert_1.log
grn_exporter.log
.env_hyper
logs/
.env_twillio
